@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #8942a8, #ba382f);
}

.main {
  background-color: rgb(226, 161, 161);
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
  border-radius: 10px;
}

.badge {
  width: 100px;
  background: #f8f7f7;
  color: black;
  padding: 5px 12px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 37%;
  border-radius: 10px;
}

.clock {
  background: #EBEBEB;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 20px;
  font-family: Barlow;
  border-radius: 10px;
}